*{
    box-sizing: border-box;
}
h1{
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}
button{
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
}
@media screen and (min-width: 320px), (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;

    }
    .item-1{
        background-color: hsl(31, 77%, 52%);
        /* padding-top: 20px;
        padding-left: 29px;
        padding-right: 39px; */
        padding: 20px 29px 0px 39px;
    }
    .item-1 h2{
        margin-bottom: 29px;
    }
    .item-1 p{
        margin-bottom: 29px;
    }
    .item-1 button{
        color: hsl(31, 77%, 52%);
    }
    .item-1 button:hover{
        background-color: hsl(31, 77%, 52%);
        border: solid 2px hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
    }
    .item-2{
        background-color:  hsl(184, 100%, 22%);
        padding: 20px 29px 0px 39px;
    }
    .item-2 h2{
        margin-bottom: 29px;
    }
    .item-2 p{
        margin-bottom: 29px;
    }
    .item-2 button{
        color: hsl(184, 100%, 22%);
    }
    .item-2 button:hover{
        background-color: hsl(184, 100%, 22%);
        border: solid 2px hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
    }
    .item-3{
        background-color: hsl(179, 100%, 13%);
        padding: 20px 29px 0px 39px;
    }
    .item-3 h2{
        margin-bottom: 29px;
    }
    .item-3 p{
        margin-bottom: 29px;
    }
    .item-3 button{
        color: hsl(179, 100%, 13%);
    }
    .item-3 button:hover{
        background-color: hsl(179, 100%, 13%);
        border: solid 2px hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
    }
    button{
        max-width: 150px;
        min-width: 100px;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 20px;
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 1024px), (min-width: 1440px) {
    main{
        display: flex;
        flex-direction: row;
    }
    .item-1{
        display: flex;
        flex-direction: column;
        padding: 20px 69px 0px 39px;
    }
    .item-1 img{
        max-width: 50px;
        min-width: 40px;
        width: 100%;
    }
    .item-1 p{
        margin-bottom: 79px;
    }
    .item-2{
        display: flex;
        flex-direction: column;
        padding: 20px 69px 0px 39px;
    }
    .item-2 img{
        max-width: 50px;
        min-width: 40px;
        width: 100%;
    }
    .item-2 p{
        margin-bottom: 79px;
    }
    .item-3{
        display: flex;
        flex-direction: column;
        padding: 20px 69px 0px 39px;
    }
    .item-3 img{
        max-width: 50px;
        min-width: 40px;
        width: 100%;
    }
    .item-3 p{
        margin-bottom: 79px;
    }

}